* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* root variables */

:root {
  --color-primary: #262262;
  --color-secondary: #2b3990;
  --color-accent: #27aae1;
}
body{
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}
.content {
  min-height: 100dvh;
  min-width: 100dvw;
  font-family: tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  overflow-y: auto;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1476px;
}
.arabic {
  direction: rtl;
}
.english{
  direction: ltr;
}
/* style.css or main.css */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem; /* 16px */
  padding-right: 1rem; /* 16px */
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.english {
  font-family: 'FMSCFavorit', tahoma, arial, sans-serif;
}
